<div class="container-fluid">
  <h1>TBR</h1>
  {{#each data}}
    {{!-- <div class="card">
      <img src={{book_cover}} class="card-img" alt="book cover for {{title}}" />
      <div class="card-body">
        <p class="card-text">{{title}} by {{author}}</p>
      </div>
    </div> --}}
    <div class="book-div">
      <img src={{book_cover}} class="book-img" alt="book cover for {{title}}" />
      <p class="card-text"><span class="book-title">{{title}}</span>
        <span class="muted">by</span>
        {{author}}</p>
    </div>
  {{/each}}
</div>